@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

@font-face {
  font-family: "sofia";
  src: url("/fonts/sofiapro-light.woff2") format("woff2");
  font-weight: 800;
  font-display: swap ;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.box-shadow {
  box-shadow: 8px 8px 0px #000000;
}
.animation {
  animation: services 30s linear infinite;
}

.image:before {
  content: url("/images/vector2.png");
  left: -91vw;
  top: -68vh;
  position: absolute;
  scale: 0.25;
  transform: rotate(10deg);
}
/* .image:after {
  content: url("/images/vector1.png");
  right: -91vw;
  bottom: -68vh;
  position: absolute;
  scale: 0.25;
  transform: rotate(10deg);
  overflow: hidden;
} */  

.decoration{
  text-decoration: none;
}


input:focus-visible{
  border: none;
  display: block;
}

@keyframes services {
  0% {
    transform: translateZ(0);
    visibility: visible;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
